/CO_spectra.pdf
/GAMA517302.tiff
/SAMI_IRAM_Sep15_Submitted.pdf
/Tacconi-PHIBSS.pdf
/Ho I-Ting SAMI outflows.pdf
/fH2_scal_rel.eps
/fH2_XCO.eps
/fgas_and_sSFR.png
/GAMA517302_a.png
/Amelie_Saintonge_localgas2015.pdf
/Progress_Report.pdf
*.fit
/data/sdss/gal_info_dr7_v5_2.fit
/data/sdss/gal_totsfr_dr7_v5_2.fit
/data/sdss/totlgm_dr7_v5_2.fit
